/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent
}

body {
	line-height: 160%
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote,div.indent,p.indent {
	padding-left: 3em
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

table {
	border-collapse: collapse;
	border-spacing: 0
}
/*Misc*/
body {
	height: 100%;
	background-color: #fff;
	font-family: arial, helvetica, sans-serif;
	font-size: 62.5%
}

html {
	height: 90%
}

ul#skipto {
	display: none
}

a {
	color: #000;
	text-decoration: none
}
/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.clearfix {
	display: inline-block
}

html[xmlns] .clearfix {
	display: block
}

* html .clearfix {
	height: 1%
}
/*wrapper*/
div#wrapper {
	z-index: 1;
	position: relative;
	min-height: 100%;
	width: 988px;
	min-width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	background: url(../image/sidebar_bg.jpg) repeat-y
}
/*Header*/
div#header {
	height: 72px;
	top: 0;
	left: 0;
	background-color: #DCDCDC; /*legacy*/
	background-image: -moz-linear-gradient(top, #ededed 0%, #f9f9f9 42%, #f9f9f9 59%, #ededed
		100%); /*FF*/
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%,
		#ededed), color-stop(42%, #f9f9f9), color-stop(59%, #f9f9f9),
		color-stop(100%, #ededed)); /*WK*/
	background-image: -o-linear-gradient(top, #ededed 0%, #f9f9f9 42%, #f9f9f9 59%, #ededed
		100%); /*O*/
}
/* Logo */
div#header h1 a {
	display: block;
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	width: 214px;
	height: 72px;
	text-indent: -3000px;
	background: url(../image/logo.png) no-repeat
}
/* Navigation */
ul#menu {
	margin-left: 200px;
	height: 18px;
	font-size: 11.5px;
	list-style-type: none;
	padding: 0;
	padding-top: 48px !important;
	width: inherit !important;
	min-width: 790px !important
}

ul#menu li,ul#menu li dl,ul#menu li dl dt,ul#menu li dl dd,ul#menu li dl dd a
	{
	z-index: 99999 !important
}

ul#menu li {
	float: right;
	position: relative;
	display: block !important;
	border-left: 1px solid #999;
	padding-right: 17px;
	margin: 0;
	height: inherit;
	z-index: 9999999 !important;
	white-space: nowrap;
	padding-bottom: 0;
	padding-top: 6px
}

#menu li.one {
	width: 60px
}

#menu li.two {
	width: 40px
}

#menu li.three {
	width: 150px;
}

#menu li.four {
	width: 90px;
}

#menu li.five {
	width: 50px;
}

#menu li.six {
	width: 250px;
}

#menu li font {
	display: block;
	height: auto;
	padding: .5em;
	padding-top: 10px;
	font-weight: bold;
	color: #000
}

#menu li a,#menu li a:visited {
	text-decoration: none
}

#menu dl {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	margin-left: -1px
}

#menu dt {
	margin: -5px auto -3px .5em;
	width: auto
}

#menu dd {
	display: none;
	margin: 0 0 -1px 0
}

#menu dt a:link,#menu dt a:visited {
	display: block;
	height: auto;
	padding: .5em;
	padding-top: 8px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000
}

#menu dd a:link,#menu dd a:visited {
	display: block;
	width: 200px;
	padding: .5em .1em .5em 1em;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	white-space: normal !important
}

#menu li a:hover {
	text-decoration: underline
}

#menu li:hover dd,#menu li a:hover dd {
	display: block;
	background: #ddd;
	border: 1px solid #999
}

#menu li:hover dt a:link,#menu li:hover dt a:visited,#menu li dt>a:hover
	{
	margin: 0 0 1px 0;
	color: #000
}

#menu li:hover dd:hover {
	background-color: #eaeaea
}

#menu li:hover {
	margin: 0 0 -2px 0;
	background: #ddd;
	border-top: .1em solid #999
}

#menu li.six:hover {
	border-right: .1em solid #999
}
/*whois*/

/*Sidebar*/
div#sidebar {
	width: 255px;
	min-height: 276px;
	float: left;
	z-index: 1 !important;
	color: #fff
}
/* Web Services */
div#web_services {
	padding: 35px 20px 20px
}

/* Secure Login */
div#web_services fieldset legend span {
	padding-bottom: 0px;;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold
}

div#web_services fieldset {
	padding: 7px 0 0;
	color: #fff
}

div#web_services fieldset span {
	font-family: Arial;
	font-size: 1.4em;
}

div#web_services fieldset input[type="radio"] {
	width: 13px;
	height: 20px;
}

div#web_services fieldset input[type="text"] {
	left: 100px;
	width: 140px;
	height: 15px;
}

/* Sub Navigation */
/*Footer*/
div#footer {
	padding: 1.5em 0;
	margin: 0 auto;
	clear: both;
	width: 60em;
	font-size: 1.1em;
	text-align: center
}

div#footer p {
	margin-top: .5em;
	clear: both;
	font-style: italic
}

div#footer p a.footer_link {
	display: inline;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #000;
	font-style: italic
}

div#footer p a:hover.footer_link {
	border-bottom-style: solid
}
/* End of shell.css */ /* formerly content.css */
/* Content base/globals ------------------------------------------- */
#content {
	float: left;
	width: 600px;
	min-height: 100%;
	background-color: #fff;
	padding: 1.5em 0 2em 1.5em
}

#content a:link,div#content a:visited {
	color: #000;
	border-bottom: 1px dotted #000
}

/*content {float: left; width: 67em; min-height: 100%; background-color: #fff; padding: 1.5em 0 2em 1.5em}

h5 {clear: both; display: block}

/* Global Boxes inside content ------------------------------------------- */
h4.nomargin {
	margin: 0 !important
}
/* Main content ------------------------------------------- */
#content #maincontent {
	float: left;
	width: 45.5em;
	font-size: 16px;
}

#content #maincontent p {
	font-size: 13px;
	text-align: justify;
	text-justify: newspaper;
	font-style: italic;
	width: 55em;
	font-family: " Geogia, Times New Roman, serif;
	color: #444444;
}

/*Table Styling */
div#maincontent table {
	width: 100%;
	border: 2px solid #999;
	margin-bottom: 1em;
	-moz-box-shadow: 3px 3px 3px #ccc; /*FF*/
	-webkit-box-shadow: 3px 3px 3px #ccc; /*WK*/
	-khtml-box-shadow: 3px 3px 3px #ccc; /*khtml*/
	box-shadow: 3px 3px 3px #ccc; /*CSS3*/
}

div#maincontent table.noborder {
	border: none;
	-moz-box-shadow: none; /*FF*/
	-webkit-box-shadow: none; /*WK*/
	-khtml-box-shadow: none; /*khtml*/
	box-shadow: none; /*CSS3*/
}

div#maincontent table caption {
	margin: 1em 0 0;
	padding: .8em .6em;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #D4EFFD; /*legacy*/
	background-image: -moz-linear-gradient(top, #D4EFFD 0%, #EBF7FE 100%);
	/*FF*/
	background-image: -o-linear-gradient(top, #D4EFFD 0%, #EBF7FE 100%);
	/*O*/
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%,
		#D4EFFD), color-stop(100%, #EBF7FE)); /*WK*/
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase
}

div#maincontent table td {
	padding: .5em .8em;
	border: 1px solid #eee;
	font-size: 11.5px;
	text-align: left;
	vertical-align: top !important
}

div#maincontent table tr:nth-child(even) th[scope="row"],div#maincontent table tr:nth-child(odd) th[scope="row"]
	{
	padding: .5em .8em;
	border: 1px solid #eee;
	font-size: 11.5px;
	text-align: left;
	vertical-align: top !important
}

div#maincontent table td a:link,div#maincontent table td a:visited {
	border-bottom: 1px dotted #000
}

div#maincontent table tr:first-child th,div#maincontent table tr th {
	padding: .4em .8em;
	border: 1px solid #ccc;
	background-color: #999; /*legacy*/
	background-image: -moz-linear-gradient(top, #888 0%, #aaa 100%)
		!important; /*FF*/
	background-image: -o-linear-gradient(top, #888 0%, #aaa 100%) !important;
	/*O*/
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #888),
		color-stop(100%, #aaa)); /*webkit*/
	font-size: 12px !important;
	text-align: left;
	color: #fff;
	text-transform: none;
	vertical-align: middle;
}

div#content tr:nth-child(even),div#content tr:nth-child(even) td,div#content tr:nth-child(even) th[scope="row"]
	{
	background: #fff !important;
	color: #000 !important;
}

div#content tr:nth-child(odd),div#content tr:nth-child(odd) td,div#content tr:nth-child(odd) th[scope="row"]
	{
	color: #000 !important;
	background-color: #ededed; /*legacy*/
	background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #fcfcfc 100%)
		!important; /*FF*/
	background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #fcfcfc 100%);
	/*O*/
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%,
		#f0f0f0), color-stop(100%, #fcfcfc)); /*WK*/
}

div#content table.nozebra tr:nth-child(odd),div#content table.nozebra tr:nth-child(odd) td,div#content table.nozebra tr:nth-child(odd) th[scope="row"]
	{
	background: transparent;
	background-image: none
}

div#maincontent table tr:nth-child(odd) th[scope="row"] {
	font-size: 11.5px !important;
	color: #000;
	text-decoration: none
}

div#maincontent table tr:nth-child(even) th[scope="row"] {
	background: #fff;
	font-size: 11.5px !important;
	color: #000;
	text-decoration: none
}

#maincontent table.newtable tbody tr td img,#maincontent table tbody tr.r0 td img
	{
	display: block;
	float: none !important;
	margin-left: auto;
	margin-right: auto
}

div#maincontent table tfoot button {
	float: right;
	text-transform: capitalize
}

div#maincontent table td input[type="checkox"] {
	width: 20%;
	font-size: 20px;
	word-spacing: 0.2em;
}

div#sucessFlag input[type="button"] {
	float: left;
}
/*search results*/
#maincontent table.search_results_bar.nozebra.noborder *,#maincontent table.search_results_bar.nozebra.noborder table.nozebra.noborder *
	{
	background: transparent !important
}

.heading_highlight {
	color: #983720
}

h3.graphichead,h4.graphichead {
	background: transparent 0 0 no-repeat;
	text-indent: -3000px;
	overflow: hidden;
	width: 600px;
	height: 125px;
	border-top: none !important;
}
/* universal social styling */
ul {
	list-style: none
}

.nav {
	width: 213px;
	padding: 40px 28px 25px 0;
	font-family: "Microsoft yahei", Arial, Helvetica, sans-serif;
}

ul.nav {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
}

ul.nav li {
	
}

ul.nav li a {
	line-height: 10px;
	font-size: 12px;
	padding: 10px 5px;
	color: #000;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	background-color: #F0E68C;
}

ul.nav li a:hover {
	background-color: #675C7C;
}

ul.nav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.nav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}

ul.nav ul li a {
	padding-left: 20px;
	font-size: 12px;
	font-weight: normal;
}

ul.nav ul li a:hover {
	background-color: #D3C99C;
	color: #675C7C;
}

ul.nav ul ul li a {
	color: silver;
	padding-left: 40px;
}

ul.nav ul ul li a:hover {
	background-color: #D3CEB8;
	color: #675C7C;
}

ul.nav span {
	float: right;
}