<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ErrorFilter</filter-name>
		<filter-class>com.cnnic.whois.web.ErrorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ErrorFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>WhoisFilter</filter-name>
		<filter-class>com.cnnic.whois.web.WhoisFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WhoisFilter</filter-name>
		<url-pattern>/ip/*</url-pattern>
		<url-pattern>/domain/*</url-pattern>
		<url-pattern>/entity/*</url-pattern>
		<url-pattern>/autnum/*</url-pattern>
		<url-pattern>/links/*</url-pattern>
		<url-pattern>/phones/*</url-pattern>
		<url-pattern>/nameserver/*</url-pattern>
		<url-pattern>/postalAddress/*</url-pattern>
		<url-pattern>/notices/*</url-pattern>
		<url-pattern>/registrar/*</url-pattern>
		<url-pattern>/variants/*</url-pattern>
		<url-pattern>/events/*</url-pattern>
		<url-pattern>/remarks/*</url-pattern>
		<url-pattern>/help/*</url-pattern>
		<url-pattern>/secureDNS/*</url-pattern>
		<url-pattern>/dsData/*</url-pattern>
		<url-pattern>/keyData/*</url-pattern>
		<url-pattern>/domains/*</url-pattern>		
	</filter-mapping>
	
	<servlet>
		<servlet-name>queryServlet</servlet-name>
		<servlet-class>com.cnnic.whois.controller.QueryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>queryServlet</servlet-name>
		<url-pattern>/ip/*</url-pattern>
		<url-pattern>/domain/*</url-pattern>
		<url-pattern>/entity/*</url-pattern>
		<url-pattern>/autnum/*</url-pattern>
		<url-pattern>/links/*</url-pattern>
		<url-pattern>/phones/*</url-pattern>
		<url-pattern>/nameserver/*</url-pattern>
		<url-pattern>/postalAddress/*</url-pattern>
		<url-pattern>/notices/*</url-pattern>
		<url-pattern>/registrar/*</url-pattern>
		<url-pattern>/variants/*</url-pattern>
		<url-pattern>/events/*</url-pattern>
		<url-pattern>/remarks/*</url-pattern>
		<url-pattern>/help/*</url-pattern>
		<url-pattern>/secureDNS/*</url-pattern>
		<url-pattern>/dsData/*</url-pattern>
		<url-pattern>/keyData/*</url-pattern>
		<url-pattern>/domains/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthOpenIDServlet</servlet-name>
		<servlet-class>com.cnnic.whois.controller.AuthOpenIDServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthOpenIDServlet</servlet-name>
		<url-pattern>/authOpenId.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthOpenIdClientServlet</servlet-name>
		<servlet-class>com.cnnic.whois.controller.AuthOpenIdClientServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthOpenIdClientServlet</servlet-name>
		<url-pattern>/authOpenIdClientServlet.do</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>welcome whois</display-name>
		<web-resource-collection>
			<web-resource-name>queryUser</web-resource-name>
			<url-pattern>/adv/advindex.jsp</url-pattern>

			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>authenticated</role-name>
			<role-name>root</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>welcome whois</display-name>
		<web-resource-collection>
			<web-resource-name>administratorUser</web-resource-name>
			<url-pattern>/admin/index.jsp</url-pattern>

			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<!--<auth-method>BASIC</auth-method> -->
		<auth-method>DIGEST</auth-method>
	</login-config>

	<resource-ref>
		<description>popuserDataSource</description>
		<res-ref-name>jdbc/DataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error/400.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/error/401.jsp</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>429</error-code>
		<location>/error/429.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
